/* ====================================   Global fonts   ==================================== */

@font-face {
    font-family: 'baomoi';
    src: url('../fonts/2.0.2/baomoi-regular-2.0.2.woff');
    src: local('☺'),
    url('../fonts/2.0.2/baomoi-regular-2.0.2.woff') format('woff'),
    url('../fonts/2.0.2/baomoi-regular-2.0.2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baomoi';
    src: url('../fonts/2.0.2/baomoi-light-2.0.2.woff');
    src: local('☺'),
    url('../fonts/2.0.2/baomoi-light-2.0.2.woff') format('woff'),
    url('../fonts/2.0.2/baomoi-light-2.0.2.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'baomoi';
    src: url('../fonts/2.0.2/baomoi-medium-2.0.2.woff');
    src: local('☺'),
    url('../fonts/2.0.2/baomoi-medium-2.0.2.woff') format('woff'),
    url('../fonts/2.0.2/baomoi-medium-2.0.2.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}